/* Layout */
.custom-center-card {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-label {
  position: relative;
  padding-right: 88px;
  height: fit-content;
  cursor: pointer;
}
.custom-label::after {
  height: auto;
  display: flex;
  align-items: center;
}

/* Tree style */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
